.tool_head{
    position : fixed;
    top:0;
    left:0;
    width:100%;
    background-color: rgb(212, 231, 34);
    height : 56px;
}

.menu_head{
    /* position: fixed; */
    top:100px;
    margin:auto;
    /* left:100px; */
    width:50%;
    background-color: rgb(241, 238, 52);
    height : 22px;
    border: 1px solid black;
}

@media only screen and (max-width: 768px){
    .menu_head{
        width: 100%;
    }
}

.tool_nav{
    display:flex;
    align-items: center;
    height:100%;
}

.spacer{
    flex: 1;
}

.tool_items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.tool_items li{
    padding: 0 0.5rem;
    margin: auto;
}

.tool_logo{
    margin-left: 0.5rem;
}

.tool_logo a{
    color : white;
    text-decoration: none;
}
.tool_logo a:hover,
.tool_logo a:active{
    color: blue;
}

.tool_items a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.tool_items a:hover,
.tool_items a:active{
    color: red;
}